.Controls {
    width: 100%;
    position: relative;
    margin-top: 60px;
    display: flex;
    flex-flow: column;
    background-color: white;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 10px;
    /* padding: 10px; */
}
 
.switch {
    /* border: 1px solid black; */
    border-radius: 10px;
    overflow: hidden;
}

.switch button {
    width: 50%; 
    border-radius: 0px;
}

.Filters {
    margin-top: 5px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.date {
    width: 30%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.source {
    width: 50%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.date:focus, .source:focus {
    outline: none;
}

label {
    margin-right: 10px;
    font-weight: 700;
}

select {
    padding: 5px 10px;
}

.actions {
    height: 100%;
    width: 20%;
    display: flex;
    flex-flow: column;
    /* border: 1px solid black; */
}

.actions button {
    /* height: 30px; */
    padding: 5px;
    margin: 2px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    /* border: 1px solid blue; */
}

@media only screen and (max-width: 600px) {
    .Filters {
      flex-flow: column;
    }

    .Filters div {
        flex-flow: row;
        justify-content: center;
        width: 100%;
        /* border: 1px solid black; */
    }

    .source label, .date label {
        width: 50%;
        text-align: center;
    }

    .source select, .date select {
        width: 50%;
        text-align: center;
    }

    .actions button{
        width: 100px;
        margin-top: 10px;
    }
  }
  