#root {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  /* padding: 2rem; */
  /* text-align: center; */
  /* background-color: #ccc; */
}

